body{
	width:600px;
	margin: auto;
	text-align: center;
}
dt{
	background: #e3e3e3;
	font-size: 1.5em;

	margin: 0px;
	padding: 10px 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;

}
dd{
	margin:0px;
	padding: 10px 10px;
}
dt:first-child{
	border-top: none;
}
dt:nth-last-child(2){
	border-bottom: none;
}
.hide{
	display:none;
}